[submodule "core-container"]
	path = core-container
	url = git@github.com:keshav-modi/core.git
[submodule "websites"]
	path = websites
	url = git@github.com:keshav-modi/websites.git
[submodule "warehouse"]
	path = warehouse
	url = git@github.com:keshav-modi/warehouse
[submodule "services/cibil"]
	path = services/cibil
	url = git@github.com:keshav-modi/cibilservice.git
[submodule "services/notificationservice"]
	path = services/notificationservice
	url = git@github.com:keshav-modi/notificationservice.git
[submodule "services/exportservice"]
	path = services/exportservice
	url = git@github.com:keshav-modi/exportservice.git
[submodule "services/dataservice"]
	path = services/dataservice
	url = git@github.com:keshav-modi/dataservice.git
[submodule "services/gratter-container"]
	path = services/gratter-container
	url = git@github.com:keshav-modi/gratter.git
[submodule "cp-container"]
	path = cp-container
	url = git@github.com:keshav-modi/cp.git
[submodule "md"]
	path = md
	url = git@github.com:keshav-modi/md.git
[submodule "denormer"]
	path = denormer
	url = git@github.com:keshav-modi/denormer.git
[submodule "csdb-container"]
	path = csdb-container
	url = git@github.com:keshav-modi/csdb.git
[submodule "services/aps-service"]
	path = services/aps-service
	url = git@github.com:keshav-modi/aps-service.git
