[submodule "core-container"]
	path = core-container
	url = git@github.bankbazaar.com:bankbazaar/core.git
[submodule "websites"]
	path = websites
	url = git@github.bankbazaar.com:bankbazaar/websites.git
[submodule "warehouse"]
	path = warehouse
	url = git@github.bankbazaar.com:bankbazaar/warehouse.git
[submodule "services/cibil"]
	path = services/cibil
	url = git@github.bankbazaar.com:bankbazaar/cibilservice.git
[submodule "services/notificationservice"]
	path = services/notificationservice
	url = git@github.bankbazaar.com:bankbazaar/notificationservice.git
[submodule "services/exportservice"]
	path = services/exportservice
	url = git@github.bankbazaar.com:bankbazaar/exportservice.git
[submodule "services/dataservice"]
	path = services/dataservice
	url = git@github.bankbazaar.com:bankbazaar/dataservice.git
[submodule "services/gratter-container"]
	path = services/gratter-container
	url = git@github.bankbazaar.com:bankbazaar/gratter.git
[submodule "cp-container"]
	path = cp-container
	url = git@github.bankbazaar.com:bankbazaar/cp.git
[submodule "md"]
	path = md
	url = git@github.bankbazaar.com:bankbazaar/md.git
[submodule "csdb-container"]
	path = csdb-container
	url = git@github.bankbazaar.com:bankbazaar/csdb.git
[submodule "services/aps-service"]
	path = services/aps-service
	url = git@github.bankbazaar.com:bankbazaar/aps-service.git
[submodule "services/icici-bb-doc-flow-service"]
	path = services/icici-bb-doc-flow-service
	url = git@github.bankbazaar.com:bankbazaar/icici-bb-doc-flow-service.git
[submodule "domain-container"]
	path = domain-container
	url = git@github.bankbazaar.com:bankbazaar/domain.git
[submodule "services/bb-api"]
	path = services/bb-api
	url = git@github.bankbazaar.com:bankbazaar/bb-api.git

[submodule "services/digitalsignatureservice"]
	path = services/digitalsignatureservice
	url = git@github.bankbazaar.com:bankbazaar/digitalsignatureservice.git
