.idea
*.log*
*.iml
*.patch
*.iws
*.ipr
*.ids
*jar
lib
classes
target
out
csdb.log*
stacktrace.log*
websites/*/plugins/
websites/*/overlays/
services/denormer/src/main/resources/jdbc.properties
git-daemon-export-ok
*/.sonar*
.sonar*
